{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>{{page_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% load static %}

        <!-- App css -->
        <link rel="stylesheet" href="{% static 'admin_panel/assets/autocomplete_light/vendor/select2/dist/css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />  
        <link href="{% static 'admin_panel/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/plugins/timepicker/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
        <link href="{% static 'admin_panel/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin_panel/assets/sweet/sweetalert2.css' %}" rel="stylesheet" type="text/css" />        
        <link href="{% static 'admin_panel/assets/js/lightbox/magnific-popup.css' %}" rel="stylesheet" type="text/css" />    
        <link rel="stylesheet" href="{% static 'date/jquery.datepicker.css' %}">
        
    </head>

    <body>
        <!-- Left Sidenav -->
        {% include 'includes/sidebar/super_admin_side_bar.html'%}
        <!-- end left-sidenav-->        

        <div class="page-wrapper">

            {%include 'includes/topbar/super_admin_top_bar.html' %}

            {% block content %}

            {% endblock  %} 

        </div>
        <!-- end page-wrapper -->

        
        {% include 'includes/js.html' %}
        {% block static %}
        {% endblock %}
        
    </body>
</html>